@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap);
body {
        margin: 0;
        font-size: 100%;
        font-family: "Quicksand", sans-serif;
        color: #000;
        background-image: url("background.jpg");
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

html {
        overflow: hidden;
}

.navbar {
        -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
        z-index: 50;
}

footer {
        position:absolute;
        bottom:0;
        width:100%;
        height:40px;   /* Height of the footer */
        text-align: center;
        color: #eee9dc;
        z-index: 50;
     }

@media (min-width: 768px) {
        .collapsed-text {
                display: none;
        }

        @keyframes hideText {
                from {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                } to {
                        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                }
        }

        @keyframes movePhoto {
                from {
                        left: 0%;
                } to {
                        left: 90%;
                }

        }

        @keyframes rotatePhoto {
                from {
                        transform: rotate(0deg);
                } to {
                        transform: rotate(359deg);
                }
        }

        .intro-text-container {
                animation-name: hideText;
                animation-duration: 1.0s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-play-state: paused;
        }

        .photo-container {
                animation-name: movePhoto;
                animation-duration: 1.0s;
                animation-direction: alternate;
                animation-play-state: paused;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                z-index: 100;
        }

        .profilephoto {
                animation-name: rotatePhoto;
                animation-duration: 1.0s;
                animation-direction: alternate;
                animation-play-state: paused;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
        }

        .profilephoto-hover:hover {
                width: 100%;
                cursor: pointer;
        }

        .photo-container {
                animation-name: movePhoto;
                animation-duration: 1.0s;
                animation-direction: alternate;
                animation-play-state: paused;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                z-index: 100;
        }

        .timeline-container {
                margin-top: -150px;
        }
        .transition-element {
                transition-delay: 1.1s;
        }

}

      /* mobile navbar */
@media (max-width: 767px) {
        .collapsed-text {
                display: inline;
        }
        .intro-text {
                color: #000;
                font-size: 1.1em;
        }
        .intro-text-container {
                margin-top: 10px;
                background: rgba(255, 255, 255, 0.5);
        }
        body {
                padding-top: 70px;
        }
        .wrapper-top p, .wrapper-bottom p {
                font-size: 0.7em;   
        }
        .wrapper-date p {
                font-size: 1.0em;
        }
        label {
                font-size: 1.0em;
        }
        .photo-container {
                left: 0%;
        }
        .transition-element {
                transition-delay: 0s;
        }
}

.top-nav-collapse {
        background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
        background: transparent !important;
}

@media (max-width: 768px) {
        .navbar:not(.top-nav-collapse) {
                background: #424f95 !important;
        }

        .intro {
               position: relative;
        }
}

#popup-text {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 400px;
        border: 10px solid rgba(31, 97, 224, 0.8);
        background-color: rgb(240, 240, 240);
        transform-origin: left top;
        border-radius: 10px;
        display: none;
        z-index: 100;
        padding: 5px;
}

#close-button {
        position: absolute;
        top: 2px;
        right: 2px;
        background-image: url( 'close.svg' );
        background-size: 35px 35px;
        background-color: transparent;
        outline: none;
        border: none;
        height: 35px;  
        width: 35px;
}

